<form [formGroup]="form">
  <div class="form-group">
    <label for="oldPassword">Old Password </label>
    <input
      formControlName="oldPassword"
      name="oldPassword"
      id="oldPassword"
      type="text"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="oldPassword.touched && !oldPassword.valid"
    >
      <div>Field is required.</div>
    </div>
    <label for="newPassword">New Password </label>
    <input
      formControlName="newPassword"
      id="newPassword"
      type="text"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="newPassword.touched && !newPassword.valid"
    >
      <div>Field is required.</div>
    </div>
    <label for="confirmPassword">Confirm Password </label>
    <input
      formControlName="confirmPassword"
      id="confirmPassword"
      type="text"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="confirmPassword.touched && !confirmPassword.valid"
    >
      <div>Field is required.</div>
    </div>
  </div>
</form>
