<form [formGroup]="changePasswordForm">
  <div class="form-group">
    <label for="oldPassword">Old Password </label>
    <input
      formControlName="oldPassword"
      id="oldPassword"
      type="password"
      class="form-control"
    />
    <div *ngIf="oldPassword.touched && !oldPassword.valid" class="alert alert-danger">
      <div *ngIf="oldPassword.errors.required">Old password is required.</div>
      <div *ngIf="oldPassword.errors.oldPasswordCheck">Old password is incorrect.</div>
    </div>
    <label for="newPassword">New Password </label>
    <input
      formControlName="newPassword"
      id="newPassword"
      type="password"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="newPassword.touched && !newPassword.valid"
    >
      <div>New password is required.</div>
      
    </div>
    <label for="confirmPassword">Confirm Password </label>
    <input
      formControlName="confirmPassword"
      id="confirmPassword"
      type="password"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="confirmPassword.touched && !confirmPassword.valid"
    >
      <div *ngIf="confirmPassword.errors.required">Confirm password is required.</div>
    </div>
    <div *ngIf="confirmPassword.valid && changePasswordForm.invalid " class="alert alert-danger">New password and Confirm password does not match.</div>
  </div>
</form>
