.zippy{
    border:2px;
    border-radius: 2px;
}
.zippy-heading{
    padding: 10px;
    font-weight: bold;
    background-color: aliceblue;
}
.zippy-body{
    padding: 10px;
    background-color: rgb(211, 214, 218);

}

.isExpanded {
    background-color: rgb(226, 225, 222);
}

.fas{
    float: right;
}