<form #f="ngForm">
  <div class="form-group">
    <label for="courseName">Course Name </label>
    <input
      ngModel 
      name="courseName"
      minlength="5"
      maxlength="30"
      required
      (change)="log(courseName)"
      id="courseName"
      type="text"
      #courseName="ngModel"
      class="form-control"
    />
  
  <div class="alert alert-danger" *ngIf="!courseName.valid && courseName.touched">
        <div *ngIf="courseName.errors.required">Name is required.</div>
        <div *ngIf="courseName.errors.minlength">
          Name must be at least {{ courseName.errors.minlength.requiredLength }} characters.
        </div>
      </div>
    </div>
</form>
